{% extends 'base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Add Category{% endblock %}

{% block stylesheets %}
    {{ block.super }}

    <!-- Ionicons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="{% static 'dist/css/skins/_all-skins.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block right_coln %}
<!-- Right side column. Contains the navbar and content of the page -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Add Categories</h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <!-- form start -->
      {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert-dismissable">
                        <h2><b>✖{{ message|safe }}</b></h2>
                    </div>
                {% else %}
                    <div class="alert-dismissible">
                        <h2><b>{{ message|safe }}</b></h2>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form role="form" method="post">{% csrf_token %}
          <div class="box-body">
            <div class="form-group">
              <label for="nwcat">New Category</label>
              {{ form.name | add_class:"form-control" |attr:'class: form-control' | append_attr:'id:nwcat' | append_attr:'placeholder:New DrugCategory'}}
            </div>

            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
        </form>
        <!-- select -->
          <div class="form-group">
              <label>All Categories</label>
              <select class="form-control">
              <option>--------------</option>
                  {% for category in categories %}
                      <option>{{ category.name }}</option>
                  {% endfor %}
              </select>
          </div>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    <!-- right column -->
  </div>   <!-- /.row -->
</section><!-- /.content -->
</div><!-- /.content-wrapper -->
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <!-- FastClick -->
    <script src='{% static 'plugins/fastclick/fastclick.min.js'%}'></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}" type="text/javascript"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}" type="text/javascript"></script>
{% endblock %}