{% extends 'base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Add Drug{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'dist/css/skins/_all-skins.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block right_coln %}
  <!-- Right side column. Contains the navbar and content of the page -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Mujahid Pharmacy and Store
        <small>ADD DRUGS</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Drugs Details</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post">{% csrf_token %}
              <div class="box-body">
                <div class="form-group has-feedback col-md-6">
                    <label for="batch">batch no.</label>
                    {{ form.batch_no | add_class:"form-control" | attr:'placeholder:BATCH NO' | append_attr:'id:batch' }}
                </div>
                <div class="form-group col-md-6">
                  <label for="drugn">Drug Name</label>
                    {{ form.drug_name | add_class:"form-control" | attr:'placeholder:Drug Name' | append_attr:'id:DRUGN' }}
                </div>
                <div class="form-group col-md-6">
                  <label for="manuf">Manufacture</label>
                    {{ form.manufacture | add_class:"form-control" | attr:'placeholder:Manufacture' | append_attr:'id:manuf' }}
                  </div>
                  <!-- select -->
                  <div class="form-group col-md-6">
                      <label>Drud Category</label>
                      {{ form.category | add_class:"form-control"  }}
                  </div>
                  <div class="form-group col-md-6">
                      <label>Drud Tempreture</label>
                        {{ form.temperature | add_class:"form-control"  }}
                  </div>
                  <div class="form-group col-md-6">
                      <label for="qunt">Quantity</label>
                      {{ form.quantity | add_class:"form-control" | attr:'placeholder:Quantity' | append_attr:'id:QUNT' }}
                  </div>
                <div class="form-group col-md-6">
                  <label for="cost">Cost Price</label>
                    {{ form.cost_price | add_class:"form-control" | attr:'placeholder:Cost Price' | append_attr:'id:cost' }}
                </div>
                <div class="form-group col-md-6">
                  <label for="dop">Production Date</label>
                    {{ form.production_date | add_class:"form-control" | attr:'placeholder:yyyy-mmm-dd' | append_attr:'id:dop'  }}
                </div>
                <div class="form-group col-md-6">
                  <label for="doe">Expiry date</label>
                    {{ form.expiry_date | add_class:"form-control" | attr:'placeholder:yyyy-mm-dd' | append_attr:'id:doe' }}
                </div>
                <div class="form-group col-md-6">
                  <label for="tcost">Total Cost</label>
                    {{ form.total_cost | add_class:"form-control" | attr:'placeholder:Total Cost' | append_attr:'id:tcost' }}
                  </div>
                <div class="form-group col-md-6">
                  <label for="price">Price per item</label>
                  {{ form.price_per_item | add_class:"form-control" | attr:'placeholder:Price per item' | append_attr:'id:price' }}
                </div>
                <div class="form-group col-md-6">
                  <label for="dloc">Drug Location</label>
                    {{ form.drug_location | add_class:"form-control" | attr:'placeholder:Drug Location' | append_attr:'id:dloc' }}
                </div>
              </div><!-- /.box-body -->

              <div class="box-footer" align="center">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-primary">Cancel</button>
              </div>
              <div>
          </div><!-- /.box -->
              </form>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
      </div>   <!-- /.row -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->


{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <!-- FastClick -->
    <script src='{% static 'plugins/fastclick/fastclick.min.js' %}'></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}" type="text/javascript"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}" type="text/javascript"></script>
{% endblock %}
