{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}View Drug{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'dist/css/skins/_all-skins.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- DATA TABLES -->
    <link href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block right_coln %}
  <!-- Right side column. Contains the navbar and content of the page -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        List of Drugs Available
      </h1>
    </section>

    <div class="box">
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <td>Batch NO.</td>
            <td>Drug Name</td>
            <td>Manufacture</td>
            <td>Expire Date</td>
            <td>Production Date</td>
            <td>Category</td>
            <td>Temperature</td>
            <td>Cost Price</td>
            <td>Quantity</td>
            <td>Price per item</td>
            <td>Registration Date</td>
            <td>Total Cost</td>
            <td>Drug Location</td>
            <td>Action</td>
          </tr>
          </thead>
          <tbody>
                {% for product in products %}
                    {% if product.visible %}
                      <tr>
                        <td>{{ product.batch_no }}</td>
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.manufacture }}</td>
                        <td>{{ product.expiry_date }}</td>
                        <td>{{ product.production_date }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.temperature }}</td>
                        <td>{{ product.cost_price }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.price_per_item }}</td>
                        <td>{{ product.production_date }}</td>
                        <td>{{ product.total_cost }}</td>
                        <td>{{ product.product_location }}</td>
                        <td><a href="{% url 'drug:delete' product.id %}"> <button type="button">Delete</button></a></td>
                      </tr>
                    {% endif %}
                {% endfor %}
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->
{% endblock %}

{% block javascripts %}
    {{ block.super }}
<!-- DATA TABES SCRIPT -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}" type="text/javascript"></script>
    <!-- SlimScroll -->
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
    <!-- FastClick -->
    <script src='{% static 'plugins/fastclick/fastclick.min.js' %}'></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}" type="text/javascript"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}" type="text/javascript"></script>
    <!-- page script -->
    <script type="text/javascript">
      $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
          "bPaginate": true,
          "bLengthChange": false,
          "bFilter": false,
          "bSort": true,
          "bInfo": true,
          "bAutoWidth": false
        });
      });
    </script>
{% endblock %}
