{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
        {% block meta %}
            <meta charset="UTF-8">
            <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        {% endblock meta %}

        <title>
            {% block title %}{% endblock title %}
        </title>

        {% block stylesheets %}
            <!-- Bootstrap 3.3.2 -->
            <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
            <!-- Font Awesome Icons -->
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
            <!-- Theme style -->
            <link href="{% static 'dist/css/AdminLTE.min.css' %}" rel="stylesheet" type="text/css" />
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            <![endif]-->
        {% endblock stylesheets %}

    {% endblock head %}
</head>


{% block body %}
    <body class="skin-blue">
        <div class="wrapper">
            {% block nav %}
                {% include 'base/nav.html' %}
            {% endblock %}
            {% block right_coln %}

            {% endblock right_coln %}

            <footer class="main-footer">
              <div class="pull-right hidden-xs">
                <b>Version</b> 2.0
              </div>
              <strong>Copyright &copy; {{ today|date:'Y' }} <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
            </footer>
        </div>

        {% block javascripts %}
            <!-- jQuery 2.1.3 -->
            <script src="{% static 'plugins/jQuery/jQuery-2.1.3.min.js' %}"></script>
            <!-- Bootstrap 3.3.2 JS -->
            <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
        {% endblock javascripts %}
    </body>
{% endblock body %}
</html>