{% load staticfiles %}
<header class="main-header">
      <!-- Logo -->
      <a href="{% url 'staff:default' %}" class="logo">
        <b>
            {% if user.is_admin %}
                Admin
            {% else %}
                Staff
            {% endif %}
        </b>Page</a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
      </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- search form
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."/>
          <span class="input-group-btn">
            <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span>
      </div>
    </form>
    /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>Drug Options</span>
        </a>
        <ul class="treeview-menu">
            {% if user.is_admin %}
          <li><a href="{% url 'drug:add_drug' %}"><i class="fa fa-circle-o"></i>Add Drug</a></li>
            <li><a href="{% url 'drug:category' %}"><i class="fa fa-circle-o"></i>Add Category</a></li>
            {% endif %}
          <li><a href="{% url 'drug:view_drug' %}"><i class="fa fa-circle-o"></i>View Drug</a></li>
          {% if user.is_admin %}
            <li><a href="{% url 'drug:manage_drug' %}"><i class="fa fa-circle-o"></i>Manage Drug</a></li>
        {% endif %}
        </ul>
      </li>
    {% if user.is_admin %}
      <li class="treeview">
        <a href="#">
          <i class="fa fa-laptop"></i>
          <span>Staff Information</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="{% url 'staff:add_employee' %}"><i class="fa fa-circle-o"></i> Add Employee</a></li>
          <li><a href="{% url 'staff:view_staff' %}"><i class="fa fa-circle-o"></i>View Staff</a></li>
          <li><a href="{% url 'staff:registered_staff' %}"><i class="fa fa-circle-o"></i>View Registered Staff(s)</a></li>
        </ul>
      </li>
    {% endif %}
      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Saless</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="{% url 'sale:sale' %}"><i class="fa fa-circle-o"></i> Sales</a></li>
            {% if user.is_admin %}
          <li><a href="{% url 'sale:view_sale' %}"><i class="fa fa-circle-o"></i> General Sales</a></li>
            {% endif %}
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-folder"></i> <span>Details</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          {% if user.is_admin %}
            <li><a href="{% url 'staff:register' %}"><i class="fa fa-circle-o"></i> Register New User</a></li>
            {% endif %}
            <li><a href="{% url 'staff:logout' %}"><i class="fa fa-circle-o"></i> Logout</a></li>
        </ul>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
