{% extends 'base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Add Employee{% endblock %}

{% block stylesheets %}
    {{ block.super }}    <!-- Ionicons -->

    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="{% static 'dist/css/skins/_all-skins.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock stylesheets %}


{% block right_coln %}
<div class="content-wrapper"><!-- Content Header (Page header) -->
<section class="content-header">
  <h1>Add New Employee </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
          <!-- form start -->
          <form role="form" method="post">{% csrf_token %}
              {% for field in form %}
                  <div class="alert-warning">
                  {% if field.errors %}
                    {{ field.label}}  {{ field.errors }}
                  {% endif %}
                  </div>
              {% endfor %}
          <div class="box-body">
              <div class="form-group col-md-6">
                  <label for="fname">Full Name</label>
                  {{ form.name | add_class:"form-control" | attr:'placeholder:Full Name' | append_attr:'id:fname' }}
              </div>
              <div class="form-group col-md-3">
              <label for="passport">Upload Your Passport</label>
              <input type="file" id="passport">
            </div>
              <div class="form-group col-md-3">
                  <label for="sex">Sex</label>
                      {{ form.sex | add_class:"form-control"}}
              </div>
              <div class="form-group col-md-6">
                  <label for="status">Status</label>
                      {{ form.statue | add_class:"form-control" }}
              </div>
              <div class="form-group col-md-6">
                  <label for="dob">DOB</label>
                  {{ form.date_of_birth | add_class:"form-control" | attr:'placeholder:yyyy-mm-dd' | append_attr:'id:dob' }}
              </div>
              <div class="form-group col-md-6">
                  <label for="nation">Nationality</label>
                  {{ form.nationality | add_class:"form-control" | attr:'placeholder:Nationality' | append_attr:'id:nation' }}
              </div>
              <div class="form-group col-md-6">
                  <label for="add">Address</label>
                  {{ form.address | add_class:"form-control" | attr:'rows:3' | append_attr:'id:add' }}
              </div>
              <div class="form-group col-md-6">
                  <label for="phone">Phone Number</label>
                  {{ form.phone | add_class:"form-control" | attr:'placeholder:Phone Number' | append_attr:'id:phone' }}
              </div>
              <div class="form-group col-md-6">
                  <label for="email">Email address</label>
                  {{ form.email | add_class:"form-control" | attr:'placeholder:Email' | append_attr:'id:email' }}
              </div>
              <div class="form-group col-md-12">
                  <label for="date">Date Employed</label>
                  {{ form.date_employed | add_class:"form-control" | attr:'placeholder:Date Employed' | append_attr:'id:date' }}
              <br/><br/>
              </div>
          </div><!-- /.box-body -->
          <div class="box-footer" align="center">
            <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-primary">Restart</button>
          </div>
        </form>
      </div><!-- /.box -->

    </div><!--/.col (left) -->
  </div>   <!-- /.row -->
</section><!-- /.content -->
</div>
{% endblock right_coln %}


{% block javascripts %}
    {{ block.super }}
    <!-- FastClick -->
    <script src='{% static 'plugins/fastclick/fastclick.min.js' %}'></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}" type="text/javascript"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}" type="text/javascript"></script>


{% endblock javascripts %}
