{% extends 'base/base.html' %}
{% load staticfiles %}

{% block title %}Registered Staff{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    <!-- Ionicons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- DATA TABLES -->
    <link href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet" type="text/css" />

    <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
    <link href="{% static 'dist/css/skins/_all-skins.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block right_coln %}
  <!-- Right side column. Contains the nav bar and content of the page -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>List of Registered Staff and their Details </h1>
    </section>

    <div class="box">
      <div class="box-body">

          <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
                <td>Full Name</td>
                <td>Username</td>
                <td>Rank</td>
                <td>Last Login</td>
          </tr>
          </thead>
          {% for staff in staffs %}
          <tbody>
          <tr>
                <td>
                    {% if  staff.user.first_name %}
                        {{ staff.user.first_name }} {{ staff.user.last_name }}
                    {% else %}
                        Nil
                    {% endif %}

                    </td>
                <td> {{ staff.user.username }}</td>
                <td>
                  {% if  staff.is_admin %}
                        Admin
                    {% else %}
                        Staff
                    {% endif %}
                </td>
                <td>{{ staff.user.last_login }}</td>
          </tr>
          </tbody>
          {% endfor %}
              <tfoot>
          </tfoot>
        </table>

      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
{% endblock right_coln %}
{% block javascripts %}
    {{ block.super }}

    <!-- DATA TABES SCRIPT -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}" type="text/javascript"></script>
    <!-- SlimScroll -->
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
    <!-- FastClick -->
    <script src='{% static 'plugins/fastclick/fastclick.min.js' %}'></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}" type="text/javascript"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}" type="text/javascript"></script>
    <!-- page script -->
    <script type="text/javascript">
      $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
          "bPaginate": true,
          "bLengthChange": false,
          "bFilter": false,
          "bSort": true,
          "bInfo": true,
          "bAutoWidth": false
        });
      });
    </script>

{% endblock javascripts %}
