{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}View Staff{% endblock title %}
{% block stylesheets %}
    {{ block.super }}
<!-- Ionicons -->
  <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
  <!-- DATA TABLES -->
  <link href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link href="{% static 'dist/css/skins/_all-skins.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block right_coln %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>All Staff Information with their Details</h1>
    </section>

    <div class="box">
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <td>Full Name</td>
            <td>Sex</td>
            <td>Passport</td>
            <td>Status</td>
            <td>Date of Birth</td>
            <td>Nationality</td>
            <td>Address</td>
            <td>Phone NUmber</td>
            <td>Email</td>
            <td>Date of Employee</td>
            <td>Action</td>
          </tr>
          </thead>
          <tbody>
          {% for employee in employees %}
              {% if employee.visible %}
                  <tr>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.sex }}</td>
                    <td>Passport</td>
                    <td>{{ employee.statue }}</td>
                    <td>{{ employee.date_of_birth }}</td>
                    <td>{{ employee.nationality }}</td>
                    <td>{{ employee.address }}</td>
                    <td>{{ employee.phone }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.date_employed }}</td>
                    <td><a href="{% url 'staff:delete' employee.id %}"> <button  type="button">Delete</button></a></td>
                  </tr>
              {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div><!-- /.col -->
{% endblock right_coln %}

{% block javascripts %}
    {{ block.super }}
    <!-- DATA TABES SCRIPT -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}" type="text/javascript"></script>
    <!-- SlimScroll -->
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
    <!-- FastClick -->
    <script src="{% static 'plugins/fastclick/fastclick.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}" type="text/javascript"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}" type="text/javascript"></script>
    <!-- page script -->
    <script type="text/javascript">
      $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
          "bPaginate": true,
          "bLengthChange": false,
          "bFilter": false,
          "bSort": true,
          "bInfo": true,
          "bAutoWidth": false
        });
      });
    </script>
{% endblock javascripts %}



