{% extends 'base/registration/base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block title %}login {% endblock %}

{% block stylesheets %}
    {{ block.super }}

    <!-- iCheck -->
    <link href="{% static 'plugins/iCheck/square/blue.css' %}" rel="stylesheet" type="text/css" />

{% endblock stylesheets %}

{% block body %}
  <body class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="{% url 'staff:registered_staff' %}"><b>Mujahid</b>Pharmacy</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form method="post">{% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert-dismissable">
                        <b><h5>✖{{ message|safe }}</h5></b>
                    </div>
                {% else %}
                    <div class="alert-dismissible">
                        <b><h5>{{ message|safe }}</h5></b>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

          <div class="form-group has-feedback">
              {{ form.username | add_class:"form-control" | attr:'placeholder:Username' }}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
              {{ form.password | add_class:"form-control" | attr:"placeholder:Password" }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <!--<input type="checkbox"> Remember Me-->
                </label>
              </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div><!-- /.col -->
          </div>
        </form>

        <a href="#">I forgot my password</a><br>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    {% block javascripts %}
        {{ block.super }}

        <!-- iCheck -->
        <script src="{% static 'plugins/iCheck/icheck.min.js' %}" type="text/javascript"></script>
        <script>
          $(function () {
            $('input').iCheck({
              checkboxClass: 'icheckbox_square-blue',
              radioClass: 'iradio_square-blue',
              increaseArea: '20%' // optional
            });
          });
        </script>

    {% endblock javascripts %}
    </body>
{% endblock body %}

