{% extends 'base/registration/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Register {% endblock %}

{% block stylesheets %}
{{ block.super }}

    <!-- iCheck -->
    <link href="{% static 'plugins/iCheck/square/blue.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}

<body class="register-page">
    <div class="register-box">
      <div class="register-logo">
        <a href="{% url 'staff:registered_staff' %}"><b>Mujahid</b>Pharmacy</a>
      </div>

      <div class="register-box-body">
        <p class="login-box-msg">Register a new Staff</p>
        {% if errors %}
            <u>Registration Error</u><h5 style="color: red"><strong><li>Username already exist</li></strong></h5>
        {% endif %}

        <form method="post">{% csrf_token %}
            <div class="form-group has-feedback">
                {{ form.first_name| add_class:"form-control" | attr:"placeholder:First Name" }}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                {{ form.last_name| add_class:"form-control" | attr:"placeholder:Last Name" }}
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              {{ form.username | add_class:"form-control" | attr:'placeholder:username' }}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
              {{ form.password | add_class:"form-control" | attr:"placeholder:Password" }}
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  {{ form.is_admin| add_class:"form-control" }} Is Admin  <a href="#">Read terms</a>
                </label>
              </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
            </div><!-- /.col -->
          </div>
        </form>
      </div><!-- /.form-box -->
    </div><!-- /.register-box -->
{% block javascripts %}
    {{ block.super }}
    <!-- iCheck -->
    <script src="{% static 'plugins/iCheck/icheck.min.js' %}" type="text/javascript"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>

  </body>
{% endblock javascripts %}
{% endblock body %}
</html>