{% extends 'base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block stylesheets %}
    {{ block.super }}
    <!-- Ionicons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="{% static 'dist/css/AdminLTE.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="{% static 'dist/css/skins/_all-skins.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block right_coln %}
    <div class="content-wrapper">
        <h2>
            <a href="{{ product.category.get_absolute_url }}"><<< Back</a>
        </h2>
        <h1>{{ product.drug_name }}</h1>
        <p class="price">Price: ${{ product.price_per_item }}</p>

    <form action="{% url "cart:cart_add" product.id %}" method="post">
        {{ form }}
        {% csrf_token %}
        <input type="submit" value="Add to cart">
    </form>
</div>

{% endblock %}


{% block javascripts %}
    {{ block.super }}
    <!-- FastClick -->
    <script src='{% static 'plugins/fastclick/fastclick.min.js' %}'></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}" type="text/javascript"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}" type="text/javascript"></script>
{% endblock %}