{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="{% static 'dist/css/AdminLTE.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

<body onload="window.print();">

<div class="wrapper" align="center">
    <section class="invoice">
        <div class="row invoice-info">
          <div class="col-sm-4 invoice-col">
              <address>
                <small class="pull-right">Date: {{ today }}<br/>Time: {{ today|time }}</small><br/>
                  <strong>MUJAHID PHARMACY AND STORE.</strong><br>
                  Opp. Asibin murtala<br>
                  Phone: +2348138164746<br/>
                  Email: contact@gmail.com
              </address>
              To:  &nbsp;{{ instance.order.customer }}<br>
              Phone:  &nbsp;{{ instance.order.phone }}<br/>
              Invoice:  &nbsp;{{ invoice_id }}<br/>
              Order ID:  &nbsp;{{ order_id }}<br/>
          </div><br/>
        </div>
        <div class="row">
          <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th align="right">Qty</th>
                  <th>Product</th>
                  <th align="left">Price</th>
                  <th align="left">Subtotal</th>
                </tr>
              </thead>
              <tbody>
              {% for invoice_value in invoice_values %}
                  <tr>
                    <td align="right">{{ invoice_value.quantity }}</td>
                    <td>{{ invoice_value.product }}</td>
                    <td align="left">{{ invoice_value.price }}</td>
                    <td align="left">{{ invoice_value.get_cost }}</td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div><!-- /.col -->
        </div><!-- /.row --><br/>
        <div class="row">
            <div class="col-xs-6">
            <div class="table-responsive">
              <table class="table">
                  <tr>
                      <td align="right">Total:&nbsp;&nbsp;</td>
                      <td align="left">{{ total }}</td>
                </tr>
              </table>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </section>
</div>
<script src="{% static 'dist/js/app.min.js' %}" type="text/javascript"></script>

</body>
</html>