{% extends 'base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block stylesheets %}
    {{ block.super }}
    <!-- Ionicons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="{% static 'dist/css/AdminLTE.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="{% static 'dist/css/skins/_all-skins.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block right_coln %}
    <div class="content-wrapper">
        <section class="invoice">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <small class="pull-right">Date: 2/10/2014</small>
                    </h2>
                </div>
            </div>
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">From
                    <address>
                        <strong>MUJAHID PHARMACY AND STORE.</strong><br>
                        Opp. Asibin murtala<br>
                        Phone: +2348138164746<br/>
                        Email: contact@gmail.com
                    </address>
                </div>
                <div class="col-sm-4 invoice-col">
                    <form role="form" method="post" action=".">{% csrf_token %}
                        <div class="form-group">
                            <label for="cname">To</label>
                            {{ form.customer | add_class:"form-control" | attr:'placeholder:Customer Name' | append_attr:'id:cname' }}
                        </div>
                        <div class="form-group">
                            <label for="cphone">Phone Number</label>
                            {{ form.phone | add_class:"form-control" | attr:'placeholder:Phone Number' | append_attr:'id:cphone' }}
                        </div>
                        <button type="submit" class="btn btn-primary">Finished</button>
                    </form>

                </div>
                <div class="row">
                    <div class="col-xs-4 table-responsive">
                        <div class="box-body">
                            <div class="form-group">
                            <label>All Product</label><br>
                                {% for product in products %}
                                    <a href="{% url 'sale:sale_detail' product.id  %} ">
                                    {{ product.drug_name }}
                                    </a>₦{{ product.price_per_item }}<br/>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-print">
                    <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Remove</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                          {% for item in cart %}
                            {% with product=item.product %}
                            <tr>
                                <td>{{ product.drug_name }}</td>
                                <td>
                                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                                        {{ item.update_quantity_form.quantity }}
                                        {{ item.update_quantity_form.update }}
                                        <input type="submit" value="Update">
                                        {% csrf_token %}
                                    </form>
                                </td>
                                <td class="num">${{ item.price }}</td>
                                <td class="num"><a href="{% url "cart:cart_remove" product.id %}"> Remove</a></td>
                                <td class="num">${{ item.total_price }}</td>
                            </tr>
                        {% endwith %}
                            {% endfor %}
                        {% else %}
                            Your cart is empty
                        {% endif %}
                    {% endwith %}
                    </tbody>
                </table>
                <table class="table">
                    <tr>
                        <td>Total</td>
                        <td>₦{{ cart.get_total_price }}</td>
                    </tr>
                </table>
            </div>

                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <!-- FastClick -->
    <script src='{% static 'plugins/fastclick/fastclick.min.js' %}'></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js' %}" type="text/javascript"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js' %}" type="text/javascript"></script>
{% endblock %}