{% extends 'base/base.html' %}
{% load staticfiles %}
{% block stylesheets %}
    {{ block.super }}

<!-- Ionicons -->
  <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
  <!-- DATA TABLES -->
  <link href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
  <!-- Theme style -->
  <link href="{% static 'dist/css/AdminLTE.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link href="{% static 'dist/css/skins/_all-skins.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block right_coln %}


  <!-- Right side column. Contains the navbar and content of the page -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Data Tables
        <small>advanced tables</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
      </ol>
    </section>

    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Data of drug that have been sold</h3>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <td>Customer Name</td>
            <td>Phone Number</td>
            <td>Product</td>
            <td>Quantity</td>
            <td>Order</td>
            <td>Price per item</td>
            <td>Total</td>
            <td>Print</td>
          </tr>
          </thead>
          <tbody>
          {% for sale in sales %}
              <tr>
                <td>{{ sale.order.customer }}</td>
                <td>{{ sale.order.phone }}</td>
                <td>{{ sale.product }}</td>
                <td>{{ sale.quantity }}</td>
                <td>{{ sale.order }}</td>
                <td>{{ sale.price }}</td>
                <td>{{ sale.get_cost }}</td>
                <td>
                    <a href="{% url 'sale:pdf' sale.id  %}" target="_blank" class="btn btn-default"><i class="fa fa-print"></i>
                        Print
                    </a>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
</div><!-- ./wrapper -->
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <!-- DATA TABES SCRIPT -->
    <script src="{% static 'plugins/datatables/jquery.dataTables.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugins/datatables/dataTables.bootstrap.js' %}" type="text/javascript"></script>
    <!-- SlimScroll -->
    <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js'%}" type="text/javascript"></script>
    <!-- FastClick -->
    <script src='{% static 'plugins/fastclick/fastclick.min.js' %}'></script>
    <!-- AdminLTE App -->
    <script src="{% static 'dist/js/app.min.js'%}" type="text/javascript"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'dist/js/demo.js'%}" type="text/javascript"></script>
    <!-- page script -->
    <script type="text/javascript">
      $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
          "bPaginate": true,
          "bLengthChange": false,
          "bFilter": false,
          "bSort": true,
          "bInfo": true,
          "bAutoWidth": false
        });
      });
    </script>

{% endblock %}